html {
  font-size: 16px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: gabriola;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #750a1c;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}

.another-body {
  margin-right: 15px;
  margin-left: 15px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-rule {
  display: block;
  width: 50%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  
  border: 1px solid #ccc;
  border-radius: 2px;
  
}
.form-rule:focus {
  border-color: #8f080e;
  outline: 0;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}
